@model MVC.Models.AdminViewModels.AddMovieViewModel
@{
    ViewBag.Title = "Admin Panel";
}

<h2>@ViewBag.Title</h2>

@{
    Html.RenderPartial("_AdminNavigation");
}


<!-- Render the partial view to show the list of current movies: -->
<h3>Movies</h3>
@{
    Html.RenderPartial("~/Views/Shared/partial_views/_ViewMovies.cshtml");
}

@Html.DisplayTextFor(m => m.errorMessage);